.mainContainer {
    border: 1px solid rgb(20, 20, 20);
    text-align: center;
    background-color: rgb(248, 253, 249);
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 60vw;
}